:root{
  --primary-white: #fff;
}

/********* Style Navbar *******/ 
.container-navbar{
  height: auto;
  width: auto;
  margin: auto;
  background-color: #343A40;
  color: var(--primary-white);
  position: relative;
  text-align: center;
  padding-top: 1em;
  top: 0;
}

.col1{
  height: auto;
  width: auto;
  position: relative;
  float: left;
}

.col2{
  height: auto;
  width: auto;
  position: relative;
  float: left;
}

.col3{
  height: auto;
  width: auto;
  position: relative;
  float: left;
}

.logo{
  width: 170px;
  height: 210px;
}

nav {
  z-index: 2;
  opacity: 1;
}

nav a.nav-link{
  font-weight: 400;
  letter-spacing: 0.7px;
  cursor: pointer;
  font-weight: normal;
}

nav ul li {
  text-transform: uppercase;
  margin-left: 2px;
  font-size: 20px;
  justify-content: center;

}

.navbar-nav > li > a{
  margin-right: 15px;
  margin-left: 15px;
  color: var(--primary-white) !important;
}

a:hover{
  background-color:grey;
}

.nav-link{
  color: var(--primary-white) !important;
}

/******* liste reseaux sociaux ******/

.reseau li{
  display: flex;
  text-align: center;
  position: relative;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  list-style: none;
  
}

.reseau li a {
  width: 40px;
  height: 40px;
  display: inline-block;
  color: white;
  font-size: 25px;
}


.reseau li:nth-child(1){
  background: blue;
}
.reseau li:nth-child(2){
  background: #0077B5;
}
.reseau li:nth-child(3){
  background: #e4405f;
}

/************* Header **********/ 

.header-wraper{
  position: relative;
  background-color: black;
  height: 140vh;
}

.main-info{
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
}

.main-info h2{
  color:brown;
  font-size: 50px;
  padding-top: 150px;
}

.main-info .typed-text{
  color: var(--primary-white);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 70px;
  padding-top: 30px;
}

.main-info .typed-text-2{
  color: var(--primary-white);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
  padding-top: 30px;
}

/********** Page about *********/

.main-info-about h2{
  color: brown;
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
  text-transform: uppercase;
}

.main-info-about p{
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
  color: var(--primary-white);
}

.content-about #un{
  position: relative;
  padding-top: 25px;
  width: auto;
}

.git-cv{
  width: 100%;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  text-align: center;
}

.git-cv img{
  border: 0px none #000;
  margin: 10px;
}


/********** Page Formations ********/ 

.main-info-formations h2{
  color: brown;
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.main-info-formations h3{
  color: var(--primary-white);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content-formations{
  color: white;
  font-size : 20px;
  display: block;
  justify-content: center;
  align-items: center;  
}

.content-formations li{
  list-style: none;
}

.content-formations p{
  text-align: center;
  font-size: 25px;
  color: grey;
  justify-content: center;
  padding-top: 5px;
}

/********** Compétences ***************/

.main-info-competences h2{
  color: brown;
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.main-info-competences{
  width: 500px;
  height: 300px;
  margin: auto;
}

.main-info-competences h3{
  text-align: center;
  color: var(--primary-white);
  padding-bottom: 5px;
}

.bar {
  /* font-size: 10px */
  width: 30em;
  height: 2em;
  border-radius: 0.5em;
  /* Le parent doit être en position : "relative" pour que les enfants soient en position: "absolute" */
  position: relative;
  background: var(--primary-white);
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
  text-align: center;
  margin-bottom: 40px;
}

.bar .percentage {
  position: relative;
  font-size: 1em;
  background: brown;
  height: 2em;
  border-radius: 0.5em;
}

.has-tip:before,
  .has-tip:after {
    content: "";
    position: absolute;
    opacity: 0;
  }

.has-tip:before {
    bottom: -10px;
    right: -5px;
    border: 5px solid;
    border-color: transparent transparent tomato transparent;
    transition: opacity 0.1s;
  }

  .has-tip:after {
    content: attr(data-perc);
    bottom: 0;
    right: 0;
    white-space: nowrap;
    padding: 0.6em 1em;
    border-radius: 2em;
    line-height: 1;
    color: #fff;
    background: tomato;
    transform: translateX(50%) translateY(100%);
    transition: transform 0.2s, opacity 0.1s;
  }

  .has-tip:hover:before,
  .has-tip.active:before {
    opacity: 1;
  }

  .has-tip:hover:after,
  .has-tip.active:after {
    opacity: 1;
    transform: translateX(50%) translateY(100%) translateY(10px);
  }



/********** Typed Text ****************/

.typed-text {
  font-size: 2rem;
  color: black;
  margin-left: auto;
  margin-right: auto;
  padding-right: 30px;
  padding-left: 15px;
}

.typed-text-2{
  font-size: 2rem;
  color: black;
  margin-left: auto;
  margin-right: auto;
  padding-right: 40px;
  padding-left: 15px;
}

.tsparticles-canvas-el {
  position: absolute;
  display: block;
  height: 100vh;
  width: 100vw;
  /*  le z-order détermine l'ordre 
  des différentes couches que 
  formeront les éléments*/
  z-index: 1;
}

/********* Contact*******************/ 

.main-info-contact h2{
  color: brown;
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
  text-transform: uppercase;
}

.content-contact{
  color: white;
  font-size : 20px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.content-contact input{
  display: flex;
  justify-content: center;
  align-items: center;  
  width: auto;
}

.content-contact label{
  padding-top: 5px;
  padding-bottom: 10px;
  color: grey;
}


.content-contact li{
  list-style: none;
  padding-top: 20px;
}

.main-info-contact p{
  text-align: center;
  font-size: 25px;
  color: grey;
  justify-content: center;
  padding-top: 25px;
}

/********* Footer **********/ 

.main-footer{
  color: var(--primary-white);
  background-color: #343A40;
  position: relative;
  bottom: 0;
  width: 100%;
  padding-top: 3em;
  text-align: center;
}

.col .list {
  list-style: none;
}